{% extends "shop/base.html" %}
{% load i18n %}
{% load mathfilters %}
{% block head_title %}
{% translate 'Cart' %}
{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">{% translate 'Number' %}</th>
                <th scope="col">{% translate 'Title' %}</th>
                <th scope="col">{% translate 'Price' %}</th>
                <th scope="col">{% translate 'Amount' %}</th>
                <th scope="col">{% translate 'Total' %}</th>
                <th scope="col">{% translate 'Delete' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for order_item in object.order_items.all %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td style="width: 25%">
                    <a href="{% url 'shop:product' order_item.item.slug %}">
                        {{ order_item.item.title }}
                    </a>
                </td>
                <td style="width: 25%">{{ order_item.item.price }}₽</td>
                <td style="width: 25%">
                    <input
                            name="setValue"
                            type="number"
                            value="{{ order_item.quantity }}"
                            class="form-control"
                            id="{{ order_item.item.slug }}"
                            style="width: 35%"
                            onchange="updateQuantity('{{ order_item.item.slug }}')"
                    />
                </td>
                <td style="width: 25%">
                    {{ order_item.item.price|mul:order_item.quantity }}₽
                </td>
                <td>
                    <a onclick="removeFromCart('{{ order_item.item.slug }}')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">{% translate 'Your cart is empty' %}</td>
            </tr>
            <tr>
                <td colspan="5">
                    <a
                            class="btn btn-primary float-right mr-2"
                            href="{% url 'shop:category' %}"
                    >{% translate 'Continue Shopping' %}</a
                    >
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="5"><b>{% translate 'Total of all' %}</b></td>
                <td colspan="6">{{ object.get_total_price }} ₽</td>
            </tr>
            <tr>
                <td colspan="6">
                    <a
                            class="btn btn-warning float-right"
                            href="{% url 'shop:checkout' %}"
                            >{% translate 'Go to payment page' %}</a
                    >
                    <a
                            class="btn btn-primary float-right mr-2"
                            href="{% url 'shop:category' %}"
                            >{% translate 'Go to Home' %}</a
                    >
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
async function updateQuantity(slug) {
    console.log(slug);
    let base_url = "http://127.0.0.1:8000";
    let csrfToken = Cookies.get('csrftoken');
    
    let quantity = document.querySelector(`#${slug}`).value;
    console.log(quantity);
    if (!quantity || quantity <= 0) {
        console.log(quantity);
        return;
    }
    
    let response = await axios.post(base_url + '/ajax_edit_cart/', {
        slug: slug,
        quantity: quantity,
    }, {
        headers: {
            'X-CSRFToken': csrfToken
        },
        withCredentials: true,
    });
    location.reload();
}

async function removeFromCart(slug) {
    console.log(slug);
    let base_url = "http://127.0.0.1:8000";
    let csrfToken = Cookies.get('csrftoken');
    let response = await axios.post(base_url + '/ajax_remove_from_cart/', {
        slug: slug,
    }, {
        headers: {
            'X-CSRFToken': csrfToken
        },
        withCredentials: true,
    });
    location.reload();
}
</script>
{% endblock content %}
