{% extends 'shop/base.html' %}
{% load i18n %}
{% block head_title %}
{% trans 'Products' %}
{% endblock head_title %}

{% block content %}
<div class="container mb-5">
    <div class="row">
        <div class="col-sm-4">
            Картинок нет, так как парсил без них
        </div>
        <div class="col-sm-8">
            {% for item in page_obj %}
            <div class="card mb-3">
                <div class="row no-gutters">
                    {% if item.image %}
                    <div class="col-md-4">

                        <a href="{% url 'shop:product' item.slug %}">
                            <img src="{{ item.image.url }}" class="card-img" alt="...">
                        </a>
                    </div>
                    {% endif %}

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            {% if item.description %}
                            <p class="card-text">{{ item.description|truncatechars:200 }}</p>
                            {% endif %}
                            <div class="row ml-auto">
                                <div class="col-md-6">
                                    <div class="d-flex justify-content-center align-items-center" style="height: 100%">
                                        {{ item.price }}₽
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-primary"
                                            onclick="addToCart('{{ item.slug }}')"
                                            role="button">
                                        {% trans 'Add to cart' %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="d-flex flex-row justify-content-around align-items-center">
        {% if page_obj.has_previous %}
        <a href="?page=1"> << </a>
        <a href="?page={{ page_obj.previous_page_number }}"> < </a>
        {% endif %}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"> > </a>
        <a href="?page={{ page_obj.paginator.num_pages }}"> >> </a>
        {% endif %}
    </div>
</div>
<script>
    async function addToCart(slug) { 
        console.log(slug);
        let base_url = "https://ecommerce-by-popov-vasilii-app.ru.com";
        let csrfToken = Cookies.get('csrftoken');
        let response = await axios.post(base_url + '/ajax_add_to_cart/', {
            slug: slug,
            withCredentials: true,
        }, {
            headers: {
                'X-CSRFToken': csrfToken
            }
        });
        console.log(response);
    };

</script>

{% endblock %}
