{% load cart_template_tags %}
<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-sm navbar-light white scrolling-navbar">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand waves-effect" href="{% url 'shop:home' %}" target="_blank">
      <strong class="blue-text">Ecommerce</strong>
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
      </ul>
      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item"> 
          <form action="{% url 'shop:search' %}" method="get">
            <div class="input-group">
              <div class="form-outline">
                <input name="q" type="text" value="{{ request.GET.q }}" id="form1" class="form-control"/>
                <label class="form-label" for="form1">Search</label>
              </div>
              <button type="submit" class="btn btn-outline-primary">Search</button>
            </div>
          </form>
        </li>

        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url "shop:cart" %}">
              <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_logout' %}">
              <span class="badge red z-depth-1 mr-1"> Logout </span>
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_login' %}">
              <span class="badge red z-depth-1 mr-1"> Login </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_signup' %}">
              <span class="badge red z-depth-1 mr-1"> Sign up </span>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>

  </div>
</nav>
<!-- Navbar -->
