{% extends 'shop/base.html' %}

<body>
  {% block content %}

  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-sm-6 mb-4">

          <img src="{{ object.image.url }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-sm-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ object.get_category_display }}</span>
              </a>
            </div>

            <p class="lead">
              {% if object.discount_price %} 
                <span class="mr-1">
                  <del>
                    {{ object.price }}₽
                  </del>
                </span>
              {% endif %} 
              
              <span>
                {% if object.discount_price %} 
                  {{ object.discount_price }}₽
                {% else %}
                  {{ object.price }}₽
                {% endif %}
              </span>
            </p>

            <p class="lead font-weight-bold">{{ object.description }}</p>


              <!-- Default input -->
                <form method="POST" action="{{ object.get_add_to_cart_url }}">
                  {% csrf_token %}
                  <div class="d-flex flex-row flex-nowrap justify-content-left pb-0">
                    <div class="mt-2 mr-0 p-0">
                      <div class="d-flex flex-row-reverse justify-content-right">
                        <input name="setValue" type="number" value="1" aria-label="Search" class="form-control w-50" style="width: 70%; height: 40%"> 
                      </div>
                    </div>
                    <div>
                      <button type="submit" class="btn btn-primary btn-sm ml-0" style="width: 100%">Add to cart
                        <i class="fas fa-shopping-cart ml-1"></i>
                      </button>
                    </div>
                  </div>
                </form>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-sm-6 text-center">

          <h4 class="my-4 h4">Additional information</h4>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
            voluptates,
            quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-sm mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-sm mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-sm mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

  {% endblock content %}
</body>

</html>
